* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: darkslategray;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  /* max-width: 1500px; */
  display: grid;
  grid-template-columns: minmax(150px, 20%) repeat(auto-fit, minmax(100px, 4fr));
  grid-template-rows: minmax(100px, 15%) repeat(auto-fit, minmax(400px, 3fr));
  grid-template-areas: "sidebar header" "sidebar main-content";
}

/* Header section */

.header {
  background-color: #ffe;
  grid-area: header;
  display: grid;
  padding: 10px;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  font-size: 13px;
}

/* Top header */
.top-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 2fr) minmax(170px,1fr));
}

/* Begin search area */
.search-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px minmax(120px, 90%));
  gap: 5px;
  padding: 7px 0;
}

.search-area label {
  border: 1px solid black;
  height: 20px;
}

input[type=search] {
  border: 1px solid gainsboro;
  border-radius: 20px;
  background-color: gainsboro;
  height: 20px;
}

input[type=search]:hover {
  border-color: 1px solid rgb(150, 148, 148);
  box-shadow: 1px 1.5px 3px 0 rgb(150, 148, 148);
}

input[type=search]:focus {
  border: 1px solid rgb(88, 88, 88);
  box-shadow: inset 1px 1.5px 3px 0 rgb(150, 148, 148);
}

/* End Search area */

.notification-area {
  justify-self: end;
  display: grid;
  grid-template-columns: 20px 40px 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  gap: 5px;
}

.bell,.notification-area > .avatar {
  border: 1px solid black;
  height: 25px;
}


/* Bottom header */

.bottom-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 2fr) minmax(170px,1fr));
}

.left-side {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 5px;
}

.avatar {
  border: 1px solid black;
  height: 35px;
}

.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.right-side > button {
  height: 20px;
  border-radius: 20px;
  border: 1px solid rgb(75, 75, 255);
  color: white;
  background-color: rgb(75, 75, 255);
  font-size: 11px;
  font-weight: bold;
}

.right-side > button:hover {
  background-color: rgb(113, 113, 255);
  border: none;
  box-shadow: 1px 1.5px 3px 0  rgb(113, 113, 255);
}

.right-side > button:active {
  background-color: rgb(54, 54, 196);
  border: none;
  box-shadow: inset 1px 1.5px 3px 0  rgb(34, 34, 107);
}
/* Sidebar Section */

.sidebar {
  background-color: dodgerblue;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.sidebar-sections {
  margin: 10px;
  font-size: 1em;
}

.sidebar-sections .dash {
  font-size: 1.5em;
}

.sidebar-sections .label {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Main-content Section */

.main-content {
  background-color: gainsboro;
  grid-area: main-content;
  box-shadow: inset 0 1px 3px 0 gray;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 3fr) minmax(150px, 0.8fr));
}

.main-container {
  grid-template-rows: 40px 1fr;
  padding: 10px;
}


.bottom-body {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 145px);
  gap: 10px;
}

.projects {
  display: grid;
  border-left: 4px  solid orange;
  grid-template-rows: 1fr 20px;
  font-size: min(2vw, 13px);
  font-size: max(1vw,  10px);
  background-color: #fff;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 gray;
}

.texts > h4 {
  margin-bottom: 5px;
}


.sub-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 11px;
}

h5 {
  font-size: 11px;
}

.announcements-section {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 10px;
}

.announcements-section .display-area .not-last {
  border-bottom: 1px solid rgb(196, 193, 193);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.trending-section {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 10px;
}

.trending-section .display-area {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.slot {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2px;
}

.at-handle {
  font-weight: bold;
}
.heading-area {
  font-size: min(2.5vw, 20px);
  font-size: max(2vw, 16px);
  font-weight: bold;
}

.display-area {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 gray;
  font-size: min(1vw, 11px);
  font-size: max(0.9vw, 9px);
}

.top-head {
  padding-left: 10px;
}
